* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(0, 82, 98, 0.5);
}

main p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1em;
  margin: 2em;
  padding: 1em;
}

footer p {
  font-size: 9px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header #imagentitulo {
  width: 4rem;
  height: 4rem;
}

header h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
}

header nav {
  background-color: #87ab03;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav li {
  flex: 1;
  text-align: center;
}
header nav a {
  display: block;
  padding: 020px;
  color: white;
  text-decoration: none;
}

header nav a:hover {
  background-color: aqua;
}
header nav a:focus {
  background-color: red;
}

header nav a:visited {
  color: blue;
}

/* Main */

main div[class="video"] {
  display: flex;
  justify-content: center;
  background-color: rgb(213, 188, 158);
  align-items: center;
}
main div #videomejoresmomentos {
  height: 500px;
  position: relative;
  margin: auto;
  margin: 0;
}

main nav {
  background-color: #87ab03;
}

main nav ul {
  display: flex;
  list-style: none;
}

main nav li {
  flex: 1;
  text-align: center;
}
main nav a {
  display: block;
  padding: 020px;
  color: white;
  text-decoration: none;
}

main nav a:hover {
  background-color: aqua;
}
main nav a:focus {
  background-color: red;
}

main nav a:visited {
  color: blue;
}
main nav ul li {
  display: block;
  text-align: center;
  border: transparent, inset, 0.1px;
  overflow: hidden; /* Para que la imagen no sobresalga */
}

main nav ul li a img {
  width: 200px;
  height: 240px;
  /* Ajusta la imagen para cubrir todo el espacio */
}

main nav ul li:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  /*  Aumenta el tamaño de la imagen al pasar el cursor de forma suave*/
  /* O puedes usar otra imagen aquí, por ejemplo:
  content: url('imagen_hover.jpg'); */
}

/* Intro */

section[id="intro"]{
   background: linear-gradient(to bottom, red, yellow, red);
}

.Bold {
  font-weight: bold;
}

body main caption {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

body main table {
  border-collapse: collapse; /* Bordes colapsados */
  margin-bottom: 20px; /* Espacio inferior */
  margin: 0 auto;
  width: 50%; /* O el ancho que desees */
}

body main table th,
td {
  border: 1px solid #ddd; /* Borde de 1px sólido */
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
}

body main table th[class="seccionestabla"] {
  background-color: #f2f2f2; /* Color de fondo para la cabecera */
}
body main table th[class="otrostorneos"] {
  background-color: rgba(128, 128, 128, 0.476);
}

body main table tr #olimpico:after,
#olimpico:before {
  content: url("assests/Aros_olimpicos.webp");
  width: 2rem;
  height: 2rem;
}

body main tr .oro:before {
  content: url(assests/Gold_medal.ico);
  font-size: 0.5rem;
}


